<form class="card w-100 margin-5">
  <div class="card-body" *ngIf="meeting != null">
      <h5 class="card-title">Title: {{ meeting.title}}</h5>
      <h5 class="card-title">Fecha: {{ meeting.date | date:"fullDate"}}</h5>
      
      <p class="card-text">Creado por: {{ meeting.user.username }}</p>
      <p class="card-text">Lugar: {{ meeting.place.place }}</p>
      <p class="card-text">Cantidad de participantes: {{ meeting.attendees.length }}</p>
      <p class="card-text">Cantidad de cervezas: {{ meeting.bought.quantity }}</p>
      <p class="card-text">Tiempo: {{ meeting.temp.degree }}</p>
      <input type="submit" (click)='joinMe()' class="btn btn-primary" style="margin: 5px;" value="Unirse">
      <input type="submit" (click)='checkIn()' class="btn btn-primary" style="margin: 5px;" value="Avisar asistencia">
  </div>
</form>