.scrollable {
  width: 100%;
  height: 200px;
  overflow: auto;
}

.scrollable-300 {
  width: 100%;
  height: 300px;
  overflow: auto;
}

.scrollable-350 {
  width: 100%;
  height: 350px;
  overflow: auto;
}
  
.right {
  float: right;
}

.margin-5{
  margin: 5px;
}

.margin-bottom {
  margin-bottom: 70px;
}

.border-black {
  border: black solid 2px;
  border-radius: 4px;
}

.height {
  height: 90px;
  display: flex;
}