<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Nuevo Meetup
</button>
  
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Crear Meetup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputTitle">Titulo del evento</label>
              <input [(ngModel)]="title" type="input" class="form-control" id="inputTitle" name="inputTitle">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputDate">Fecha de evento</label>
              <input [(ngModel)]="date" type="date" class="form-control" id="inputDate" name="inputDate">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Lugar de evento</label>
              <select id="inputState" class="form-control" [(ngModel)]="placeId">
                <option *ngFor="let option of places" [value]="option.id">{{option.place}}</option>
              </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="createMeetup()" data-dimiss="modal" class="btn btn-primary">Crear Meetup</button>
      </div>
    </div>
  </div>
</div>