<form method="post">
  <div class="form-group">
    <label for="inputUsername">Alias</label>
    <input [(ngModel)]="username" type="input" class="form-control" 
    id="inputUsername"  name="inputUsername" autofocus required>
  </div>
  <div class="form-group">
    <label for="inputPassword">Contraseña</label>
    <input [(ngModel)]="password" type="password" class="form-control" 
    id="inputPassword" name="inputPassword" required maxlength="50">
  </div>
  <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar">
</form>