<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Santander</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') && authService.isAuthenticated()" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/meeting']">Meeting</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right col-md-3">
      <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary margin-5">Iniciar Sesion</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/register']" class="btn btn-primary margin-5">Registrarse</a></li>

      <li *ngIf="authService.isAuthenticated()" class="dropdown col-md-1 margin-5">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.user.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           <button (click)="logout()" class="dropdown-item" type="submit">Cerrar Sesion</button>
        </div>
      </li>
    </ul>
  </div>
</nav>