<ul class="list-group scrollable-350 border-black">
  <li *ngFor="let meeting of pagination.content" class="list-group-item height">
    <div class="col-md-6">
      <h5>{{ meeting.title }}</h5>
      <p>{{ meeting.place.place }}</p>
    </div>
    <div class="col-md-6">
      <h5>{{ meeting.date | date:"fullDate"}}</h5>
      <div class="row">
          <button type="button" (click)="getWeather(meeting.id);" class="btn btn-primary margin-5" data-toggle="modal" data-target="#exampleModalWeather">
              Consultar Clima
          </button>
          <a [routerLink]="['/meeting/detail/', meeting.id]" class="btn btn-primary margin-button margin-5 right">Mirar detalle</a>
      </div>
    </div>
  </li>
</ul>
<ul class="pagination" *ngIf="pages?.length > 0">
  <li class="page-item disabled" >
    <span class="page-link" *ngIf="pagination.number == 0" >Anterior</span>
  </li>
  <li class="page-item" >
    <a class="page-link" *ngIf="pagination.number == pagination.totalPages - 1" [routerLink]="[customRouterLink, pagination.totalPages - 1]">Anterior</a>
  </li>
  <li class="page-item" >
    <a class="page-link" *ngIf="pagination.number != 0 && pagination.number < pagination.totalPages - 1" [routerLink]="[customRouterLink, pagination.number]">Anterior</a>
  </li>
  <li *ngFor="let option of pages" [ngClass]="option == pagination.number? 'page-item active':'page-item'">
    <span class="page-link" *ngIf="pagination.number == option">{{option + 1}}</span>
    <a class="page-link"  *ngIf="pagination.number != option" [routerLink]="[customRouterLink, option + 1 ]">{{option + 1}}</a>
  </li>
  <li class="page-item" *ngIf="pagination.number < pagination.totalPages - 1">
    <a class="page-link" [routerLink]="[customRouterLink, (pagination.number + 2)]">Siguiente</a>
  </li>
  <li class="page-item disabled" *ngIf="pagination.number == pagination.totalPages - 1">
    <span class="page-link">Siguiente</span>
  </li>
</ul>

<div class="modal fade" id="exampleModalWeather" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Clima para el evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="weather">
            El clima para evento de {{weather.place}} será: {{weather.temperature}} grados.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>